<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Admin/adminBase :: parent(~{::#AdminContent},~{title},~{script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.4.1/flowbite.min.css" rel="stylesheet" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>College Selection</title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" data-th-href="@{'css/style.css'}">
    </head>
    <body>
        <div id="AdminContent" th-data-fragment="AdminContent">


            <div  class="grid grid-cols-12">
                <div class="col-span-3"></div>
                <div class="col-span-12 md:col-span-6">
                  <div class="card pt-4" style="margin-left: 44px; width: 600px;">
                    <div
                    
                    class="block  p-6 bg-white border border-gray-200 rounded-lg shadow  dark:bg-gray-800 dark:border-gray-700 "
                    >
                    <div data-th-replace="~{message::messagebox}"></div>
                    
                      <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                      >
                        Add Stream
                      </h5>
                      
                      <form  class="mt-5" 
                        data-th-action="@{'/admin/addStream'}"       
                        method="post"
                        
                        data-th-object="${form}"
                        >
                      
                        <div>
                          <label
                            for="name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Stream Name</label
                            >
                          <div class="relative mb-6">
                            <!-- <div
                              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-regular fa-user"></i>
                          </div> -->
                          <input
                              type="text"
                              id="streamName"
                              data-th-field="*{streamName}"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              required
                            />
                            <!-- <p class="text-red-600 px-1 py-2"
                            data-th-if="${#fields.hasErrors('name')}"
                            data-th-errors="*{name}"
                          ></p> -->
                          </div>
                        </div>
                       
                        <div>
                          <label
                            for="name"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >College Id</label
                            >
                          <div class="relative mb-6">
                            <!-- <div
                              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-regular fa-user"></i>
                          </div> -->
                          <input
                              type="text"
                              id="collegeId"
                              data-th-field="*{collegeId}"
                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              required
                            />
                            <!-- <p class="text-red-600 px-1 py-2"
                            data-th-if="${#fields.hasErrors('name')}"
                            data-th-errors="*{name}"
                          ></p> -->
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Open Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{openQuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >SC Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{scQuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >VJ Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{vjQuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >NT1 Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{nt1QuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >NT2 Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{nt2QuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >NT3 Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{nt3QuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >OBC Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{obcQuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>

                        <div>
                          <label
                            for="phone"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >TFWS Quota CuttOff</label
                            >
                          <div class="relative mb-6">
                            <div
                            class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-scissors"></i>                            </div>
                            <input
                            type="number" step="0.01"                           
                               id="cutOff"
                              data-th-field="*{tfwsQuotaCuttOff}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
      
                       
                        <div>
                          <label
                            for="email"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                            >Duration</label
                          >
                          <div class="relative mb-6">
                            <!-- <div
                              class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                            >
                            <i class="fa-solid fa-location-dot"></i>
                            </div> -->
                            <input
                              type="text"
                              id="quota"
                              data-th-field="*{streamDuration}"

                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            
                              required
                              />
                            </div>
                        </div> 
                       
         
                        <!-- buttons -->
      
                      <div class="button_container flex items-center justify-center space-x-2">
      
                          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add Stream</button>
                          <button type="reset" class="focus:outline-none text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Reset</button>
      
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        
    </div>

    </body>
    </html>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.4.1/flowbite.min.js"></script>
    </div>

</body>
</html>